@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    margin: 0;
    background-color: #000;
    color: #eee;
    font-family: Poppins;
    font-size: 12px;
}
a{
    text-decoration: none;
}
header{
    width: 1140px;
    max-width: 80%;
    margin: auto;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
}
header a{
    color: orange;
    margin-right: 40px;
}
/* carousel */
.carousel .list .item {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0 0 0 0;
}
.carousel .list .item video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carousel .thumbnail .item video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.carousel .list .item .content{
    position: absolute;
    top: 20%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: #dd18d9;
    text-shadow: 0 5px 10px #0004;
}
.carousel .list .item .author{
    font-weight: bold;
    letter-spacing: 10px;
}
.carousel .list .item .title,
.carousel .list .item .topic{
    font-size: 5em;
    font-weight: bold;
    line-height: 1.3em;
}
.carousel .list .item .topic{
    color: #f1683a;
}
.carousel .list .item .buttons{
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 40px;
    gap: 5px;
    margin-top: 20px;
}
.carousel .list .item .buttons button{
    border: none;
    background-color: orange;
    letter-spacing: 3px;
    font-family: Poppins;
    font-weight: 500;
}
.carousel .list .item .buttons button:nth-child(2){
    background-color: transparent;
    border: 1px solid #dd18d9;
    color: #dd18d9;
}
/* thumbail */
.thumbnail{
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
}
.thumbnail .item{
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
}
.thumbnail .item video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.thumbnail .item .content{
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}
.thumbnail .item .content .title{
    font-weight: 500;
}
.thumbnail .item .content .description{
    font-weight: 300;
}
/* arrows */
.arrows{
    position: absolute;
    top: 80%;
    right: 52%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}
.arrows button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(184, 43, 170, 0.267);
    border: none;
    color: #fff;
    font-family: monospace;
    font-weight: bold;
    transition: .5s;
}
.arrows button:hover{
    background-color: orange;
    color: #000;
}

/* Animación para el primer elemento del carrusel */
.carousel .list .item:nth-child(1) {
    z-index: 1;
    /* Establece el índice z del primer elemento para que se muestre al frente */
}

/* Animación del texto en el primer elemento */
.carousel .list .item:nth-child(1) .content .author,
.carousel .list .item:nth-child(1) .content .title,
.carousel .list .item:nth-child(1) .content .topic,
.carousel .list .item:nth-child(1) .content .des,
.carousel .list .item:nth-child(1) .content .buttons {
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s 1s linear 1 forwards;
    /* Inicialmente desplaza, difumina y oculta el contenido */
    /* Aplica la animación `showContent` que dura 0.5s y empieza 1s después */
}

@keyframes showContent {
    to {
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
        /* Define la animación para mostrar el contenido */
    }
}

.carousel .list .item:nth-child(1) .content .title {
    animation-delay: 1.2s!important;
    /* Retraso de 1.2s para la animación del título */
}

.carousel .list .item:nth-child(1) .content .topic {
    animation-delay: 1.4s!important;
    /* Retraso de 1.4s para la animación del tema */
}

.carousel .list .item:nth-child(1) .content .des {
    animation-delay: 1.6s!important;
    /* Retraso de 1.6s para la animación de la descripción */
}

.carousel .list .item:nth-child(1) .content .buttons {
    animation-delay: 1.8s!important;
    /* Retraso de 1.8s para la animación de los botones */
}

/* Animación cuando se hace clic en siguiente */
.carousel.next .list .item:nth-child(1) video {
    width: 150px;
    height: 220px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 30px;
    animation: showImage .5s linear 1 forwards;
    /* Inicialmente establece el tamaño, posición y borde del video */
    /* Aplica la animación `showImage` que dura 0.5s */
}

@keyframes showImage {
    to {
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
        /* Define la animación para expandir y reposicionar el video */
    }
}

.carousel.next .thumbnail .item:nth-last-child(1) {
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
    /* Oculta el desbordamiento y aplica la animación `showThumbnail` que dura 0.5s */
}

.carousel.prev .list .item video {
    z-index: 100;
    /* Establece un índice z alto para los videos cuando se retrocede */
}

@keyframes showThumbnail {
    from {
        width: 0;
        opacity: 0;
        /* Inicialmente oculta la miniatura */
    }
    to {
        width: auto;
        opacity: 1;
        /* Muestra la miniatura */
    }
}

.carousel.next .thumbnail {
    animation: effectNext .5s linear 1 forwards;
    /* Aplica la animación `effectNext` a la miniatura cuando se hace clic en siguiente */
}

@keyframes effectNext {
    from {
        transform: translateX(150px);
        /* Inicialmente desplaza la miniatura 150px a la derecha */
    }
    to {
        transform: translateX(0);
        /* Devuelve la miniatura a su posición original */
    }
}

/* Barra de tiempo en el carrusel */
.carousel .time {
    position: absolute;
    z-index: 1000;
    width: 0%;
    height: 3px;
    background-color: #f1683a;
    left: 0;
    top: 0;
    /* Inicialmente establece la barra de tiempo en 0% de ancho */
}

.carousel.next .time,
.carousel.prev .time {
    animation: runningTime 3s linear 1 forwards;
    /* Aplica la animación `runningTime` a la barra de tiempo al avanzar o retroceder */
}

@keyframes runningTime {
    from { width: 100%; }
    to { width: 0; }
    /* Define la animación para disminuir el ancho de la barra de tiempo */
}

/* Animación al hacer clic en retroceder */
.carousel.prev .list .item:nth-child(2) {
    z-index: 2;
    /* Establece el índice z del segundo elemento al retroceder */
}

.carousel.prev .list .item:nth-child(2) img {
    animation: outFrame 0.5s linear 1 forwards;
    position: absolute;
    bottom: 0;
    left: 0;
    /* Aplica la animación `outFrame` a la imagen del segundo elemento al retroceder */
}

@keyframes outFrame {
    to {
        width: 150px;
        height: 220px;
        bottom: 50px;
        left: 50%;
        border-radius: 20px;
        /* Define la animación para reducir y reposicionar la imagen */
    }
}

.carousel.prev .thumbnail .item:nth-child(1) {
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail .5s linear 1 forwards;
    /* Oculta el desbordamiento y la opacidad, y aplica la animación `showThumbnail` */
}

.carousel.next .arrows button,
.carousel.prev .arrows button {
    pointer-events: none;
    /* Desactiva los eventos de puntero en los botones de flechas al avanzar o retroceder */
}

.carousel.prev .list .item:nth-child(2) .content .author,
.carousel.prev .list .item:nth-child(2) .content .title,
.carousel.prev .list .item:nth-child(2) .content .topic,
.carousel.prev .list .item:nth-child(2) .content .des,
.carousel.prev .list .item:nth-child(2) .content .buttons {
    animation: contentOut 1.5s linear 1 forwards!important;
    /* Aplica la animación `contentOut` al contenido del segundo elemento al retroceder */
}

@keyframes contentOut {
    to {
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
        /* Define la animación para desplazar, difuminar y ocultar el contenido */
    }
}

/* Estilos responsivos */
@media screen and (max-width: 678px) {
    .carousel .list .item .content {
        padding-right: 0;
        /* Elimina el padding derecho del contenido en pantallas pequeñas */
    }
    .carousel .list .item .content .title {
        font-size: 30px;
        /* Reduce el tamaño de fuente del título en pantallas pequeñas */
    }
}
