@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

body {
    .dm-serif-text-regular {
        font-family: "DM Serif Text", serif;
        font-weight: 400;
        font-style: normal;
      }
      
      .dm-serif-text-regular-italic {
        font-family: "DM Serif Text", serif;
        font-weight: 400;
        font-style: italic;
      }
      
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.header{
    background-image: linear-gradient(rgba(0,0,0,7),rgba(0,0,0,7)),
        url(images/newfashioncode/tienda.jpg);
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;
        min-width: 70vh;
        display: ce;
}